body {
    background-color: #ffffff;
    margin-left: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* LAB H2, Step 10 */
p.ex1 {
    margin-left: 250px
}